
body {

    height: 100vh;
    dislpay: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Namdhinggo:wght@400;500;600;700;800&display=swap" rel="stylesheet">


}
.loading-text {

    font-size: 50px;
}